@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #f1f6fc31;
    font-family: 'inter', sans-serif;
}

section, footer {
    padding: 54px 0;
}

h3 {
    font-size: 50px;
}

p {
    color: #0000009c;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.btn {
    background-color: #4f9cf9;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn.animate-btn:hover {
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
    background-color:#3580db;
}

@keyframes animate-outline {
    from {
        outline: 0px solid #4f9bf98a;
    } 
    to {
        outline: 15px solid #4f9bf900 ;
    }
}

header {
    background-image: url('img/background-home.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    text-decoration: none;
}

nav ul a:not(.btn)::after {
    content: "";
    background-color: #4f9cf9;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner .banner_text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner_text h1 {
    font-size: 96px;
    color: white;
}

.banner .banner_text p {
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 10px 0;
}

/*façamais*/

.faca_mais .container {
    display: flex;
    align-items: center;
}

.faca_mais .faca_mais_text {
    width: 50%;
    padding: 0 40px;
}

.faca_mais .faca_mais_text h3 {
    font-size: 56px;
}

.faca_mais .faca_mais_text p {
    padding: 10px 0;
}

.faca_mais .faca_mais_img {
    width: 50%;
}

.faca_mais .faca_mais_img img {
    width: 100%;
}

/* depoimentos */

.depoimentos h3 {
    text-align: center;
}

.depoimentos p {
    margin-bottom: 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.depoimentos .card_item {
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.depoimentos .card_item_img {
    border-radius: 100px;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.depoimentos .card_item .nome_user {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.depoimentos .card_item .depoimento_user {
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.depoimentos .card_item .estrelas {
    margin: 15px 0;
    border-top: 2px solid #71767a23;
}

.depoimentos .card_item .estrelas i {
    color: #4f9cf9;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.depoimentos .card_item:hover {
    background-color: #4f9cf9;
    margin-top: -5px;
}

.depoimentos .card_item:hover .nome_user, .depoimentos .card_item:hover .depoimento_user, .depoimentos .card_item:hover .estrelas i{
    color: white;
}

/* clientes */

.clientes h3, .clientes p{
    text-align: center;
    margin-bottom: 5px;
}

.clientes .container div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* produtos */

.produtos .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.produtos_itens {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.produtos_item {
    padding: 15px;
    background-color: #d3e6fd;
    border-radius: 15px;
    width: 30%;
}

.produtos_titulo {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

.produtos_img {
    width: 100%;
}

/* footer */

.footer {
    background-color: #4f9cf9;
    text-align: center;
}

.footer i {
    color: #4f9cf9;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.footer p {
    margin-top: 10px;
    color: white;
}