@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url("styles/headeroptech.css");
@import url("styles/aboutoptech.css");
@import url("styles/vagasoptech.css");
@import url("styles/comentariosoptech.css");
@import url("styles/rodapeoptech.css");

:root{
    --branco: #ffffff;
    --cor-primaria: #101828;
    --cor-secundaria: #667085;
    --cor-tercearia: #8E2424;
    --cor-titulo: #3A404E;
    --cor-rodape: #98A2B3;
    --fonte: "Inter";
    --cor-borda: #EAECF0;
}

body{
    background-color: var(--branco);
    font-family: var(--fonte);
    font-size: 16px;
}