.about{
    text-align: center;
    margin: 10% 22%;
}

.about__titulo{
    color: var(--cor-tercearia);
    font-weight: 600;
    font-size: 16px;
}

.about__subtitulo{
    font-weight: 600;
    font-size: 48px;
    margin: 0.8em 0;
}

.about__texto{
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 20px;
}

.diferencial{
    display: flex;
    margin: 0 1% 0 10%;
}

.diferencial__lista{
    list-style-type: none;
    margin-right: 1em;
    width: 280px;
}

.diferencial__numero{
    color: var(--cor-tercearia);
    font-weight: 600;
    font-size: 60px;
}

.diferencial__titulo{
    color: var(--cor-primaria);
    font-weight: 500;
    font-size: 18px;
    margin: 2em 0 1em 0;
}

.diferencial__texto{
    color: var(--cor-secundaria);
    font-weight: 400;
}