.rodape{
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
    gap: 32px;
}

.rodape__conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.rodape__titulo{
    color: var(--cor-primaria);
    font-size: 36px;
    font-weight: 600;
}

.rodape__texto{
    color: var(--cor-secundaria);
    font-size: 20px;
    font-weight: 400;
}

.rodape__email{
    display: flex;
    gap: 16px;
}

.rodape__input{
    padding: 1em;
    border: 1px solid #D0D5DD;
    border-radius: 0.8em;
    padding-right: 10em;
}

.rodape__input::placeholder{
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 400;
}

.rodape__botao{
    background-color: var(--cor-tercearia);
    border-radius: 8px;
    color: var(--branco);
    font-family: var(--fonte);
    font-weight: 500;
    font-size: 16px;
    padding: 12px 20px;
}

.rodape__copy{
    color: var(--cor-rodape);
    font-weight: 400;
}